<html>
    <head>
        <title>Should I Wear a Mask?</title>
        <!-- Bootstrap CSS styling -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link href="heroes.css" rel="stylesheet">
        <link href="footers.css" rel="stylesheet">
    </head>
    <body>
        <div class="px-4 py-3">
            <link rel="icon" type="image/png" sizes="48x48" href="/imgs/mask-icon.png">
            <h1 class="display-5 fw-bold lh-1 mb-3">Should I Wear a Mask?</h1>
        </div>

        <div class="px-4 py-5 my-5 text-center">
            {% block content %}{% endblock %}
        </div>

        <div class="container fixed-bottom">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                  <span class="text-muted">HowdyHack 2021</span>
                </div>
                
                <div class="col-md-4 d-flex align-items-center">
                  <span class="text-muted">Rachel Burns • Nicholas Li • Faith Mitchell • Austin Ngo</span>
                </div>
            </footer>
        </div>
    </body>
</html>