{% extends "base.html" %}

{% block content %}
    {% for info in information %}
        <h4>{{ info }}: {{ information[info] }}</h4>
    {% endfor %}

    <form action="/fifth" method = "POST">
        <p>Are you in a crowded location?:<br>
            <input type="radio" id="crowded-yes" name="crowded" value = "yes">
            <label for="crowded-yes">Yes</label><br>
            <input type="radio" id="crowded-no" name="crowded" value = "no">
            <label for="crowded-no">No</label><br>  
            <input type="submit" value="Submit"> 
        </p>
    </form>
{% endblock %}