{% extends "base.html" %}

{% block content %}
    {% for info in information %}
        <h4>{{ info }}: {{ information[info] }}</h4>
    {% endfor %}

    <form action="/second" method = "POST">
        <p>Are you vaccinated:
            <input type="radio" id="vax-yes" name="vaccinated">
            <label for="vax-yes">Yes</label><br>
            <input type="radio" id="vax-no" name="vaccinated">
            <label for="vax-no">No</label><br>  
            <input type="submit" value="Submit"> 
        </p>
    </form>
{% endblock %}



<!-- 
#age options 
<p>Please select your age:</p>
  <input type="radio" id="age1" name="age">
  <label for="age1">Under two years</label><br>
  <input type="radio" id="age2" name="age">
  <label for="age2">Over two years</label><br>  
  <input type="submit" value="Submit"> -->