{% extends "base.html" %}

{% block content %}
    {% for info in information %}
        <h4>{{ info }}: {{ information[info] }}</h4>
    {% endfor %}

    <form action="/fourth" method = "POST">
        <p>Will you be at one of these locations: A K-12 school, onboard a plane, nursing home, or gym/fitness center?<br>
            <input type="radio" id="locations-yes" name="locations" value="yes">
            <label for="locations-yes">Yes</label><br>
            <input type="radio" id="locations-no" name="locations" value="no">
            <label for="locations-no">No</label><br>  
            <input type="submit" value="Submit"> 
        </p>
    </form>
{% endblock %}