{% extends "base.html" %}

{% block content %}
    <form action="/form2-data" method = "POST">
        <h5>Will you be at a K-12 school, on a plane, nursing home, or gym/fitness center?</h5>
        <input type="radio" id="locations-yes" name="locations" value="yes" required>
        <label for="locations-yes">Yes</label>
        <input type="radio" id="locations-no" name="locations" value="no" required>
        <label for="locations-no">No</label><br><br>  
        <input type="submit" class="btn btn-primary btn-lg px-4" value="Submit"> 
    </form>
{% endblock %}