{% extends "base.html" %}

{% block content %}
    <form action="/form3-data" method = "POST">
        <h5>Will you be in a crowded location?</h5>
        <input type="radio" id="crowded-yes" name="crowded" value = "yes" required>
        <label for="crowded-yes">Yes</label>
        <input type="radio" id="crowded-no" name="crowded" value = "no" required>
        <label for="crowded-no">No</label><br><br>  
        <input type="submit" class="btn btn-primary btn-lg px-4" value="Next"> 
    </form>
{% endblock %}