{% extends "base.html" %}

{% block content %}
    <form action="/form4-data" method = "POST">
        <h5>Is everyone around you going to be vaccinated?</h5>
        <input type="radio" id="everyoneVax-yes" name="everyone-vaxxed" value="yes" required>
        <label for="everyoneVax-yes">Yes</label>
        <input type="radio" id="everyoneVax-no" name="everyone-vaxxed" value="no" required>
        <label for="everyoneVax-no">No/Not sure</label><br><br>
        <input type="submit" class="btn btn-primary btn-lg px-4" value="Submit">
    </form>
{% endblock %}