{% extends "base.html" %}

{% block content %}
    {% for info in information %}
        <h4>{{ info }}: {{ information[info] }}</h4>
    {% endfor %}
    <form action="/third" method = "POST">
        <p>Are you indoors or in a crowded setting?:<br>
            <input type="radio" id="indoors-yes" name="indoors">
            <label for="vax-yes">Yes</label><br>
            <input type="radio" id="indoors-no" name="indoors">
            <label for="vax-no">No</label><br>  
            <input type="submit" value="Submit"> 
        </p>
    </form>
{% endblock %}